.file-upload
  position: relative
  overflow: hidden
  display: inline-block
  vertical-align: middle
  .progress-bar
    height: 100%
    width: 0
    background: $main-background-color
    position: absolute
    top: 0
    left: 0

.file-upload__input
  @include opacity(0)
  position: absolute
  top: 0
  right: 0
  width: 100% !important
  padding: 0 !important
  margin: 0 !important
  cursor: pointer