.form-fields
  @extend .nude-list
  @extend .m-b-big
  label
    @extend .p-r-big
    display: inline-block
    width: 38%
    text-align: right
    vertical-align: middle
  input, textarea, .file-upload, .autocomplete
    @extend .p-s
    border: thin solid $main-border-color
    border-radius: 0
    background-color: $main-input-color
  input, .file-upload, .autocomplete
    width: 62%
    height: $quadrupole-rhythm
  textarea
    @extend .p-e
    resize: none
    width: 100%
    height: 50vh

@media (max-width: $response-point)
  .form-fields
    input, .file-upload, .autocomplete
      height: $quadrupole-rhythm * 2

.form-fields__item, .form-fields__btn
  @extend .m-t

.form-fields__remove
  @extend .m-l
  position: absolute
  left: 0
  cursor: pointer
  z-index: 90

.error-block
  @extend .nude-list
  margin-left: 38%
  background: $main-color
  color: $main-background-color

.error-block__item
  padding: $rhythm/2 $rhythm

@media (max-width: $response-point)
  .error-block__item
    padding: $rhythm $double-rhythm