.header
  @include transition(0s)
  width: 100%
  border-top: dashed $half-rhythm $main-color
  font-size: $triple-rhythm
  background-color: $main-background-color

  &.scroll-to-fixed-fixed
    border-top: 0
    border-bottom: dashed $half-rhythm $main-color

@media (max-width: $response-point)
  .header
    font-size: $triple-rhythm * 1.3

.nav
  @extend .nude-list
  width: 100%
  li:first-child
    width: 38%
    text-align: right

.nav__item
  display: inline-block
  .nav__link.active, .nav__link:hover, .nav__link:focus
    @include opacity(100)
    outline: none
    background-color: $main-color
    color: $main-background-color

.nav__link
  width: 100%
  padding: $rhythm $quadrupole-rhythm
  display: inline-block
  text-decoration: none
  color: $main-color
  cursor: pointer

@media (max-width: $response-point)
  .nav__link
    padding: $rhythm $double-rhythm

.nav__link--logout
  padding: $rhythm