.header
  width: 100%
  border-top: dashed .6vw $main-color
  font-size: 3vw
  background-color: $main-background-color

.nav
  @extend .nude-list
  width: 100%
  li:first-child
    width: 38%
    text-align: right

.nav__item
  display: inline-block
  .nav__link.active, .nav__link:hover, .nav__link:focus
    outline: none
    background-color: $main-color
    color: $main-background-color

.nav__link
  width: 100%
  padding: 1vw 3.75vw
  display: inline-block
  text-decoration: none
  color: $main-color
  cursor: pointer