.logo
  font-family: "riot"
  overflow: hidden
  height: 62%

.logo__component
  display: inline-block
  vertical-align: top
  overflow: hidden
  height: 100%

.logo__left
  width: 38%
  text-align: right
  color: $main-color
  background-color: $main-background-color
  .logo__dot
    left: 6%

.logo__right
  width: 62%
  text-align: left
  color: $main-background-color
  background-color: $main-color
  .logo__dot
    right: 5%

.logo__star
  position: relative
  font-size: 40vw
  bottom: 20%

.logo__dot
  vertical-align: top
  position: relative
  font-size: 10vw

.logo__cheap
  position: relative
  font-size: 11vw
  top: 10%