@font-face
  font-family: 'daft'
  src: url('/assets/daft.ttf') format('truetype')

@font-face
  font-family: 'eraser'
  src: url('/assets/eraser.ttf') format('truetype')

@font-face
  font-family: 'riot'
  src: url('/assets/riot.ttf') format('truetype')

@font-face
  font-family: 'thurston'
  src: url('/assets/thurston.ttf') format('truetype')