/* http://www.dafont.com/comfortaa.font */
@font-face
  font-family: 'comfortaa'
  src: asset-url('comfortaa.ttf') format('truetype')

/* http://www.dafont.com/night-still-comes.font */
@font-face
  font-family: 'night'
  src: asset-url('night.otf')

/* http://www.dafont.com/italian-revolution.font?l[]=10&l[]=1 */
@font-face
  font-family: 'revolution'
  src: asset-url('revolution.ttf') format('truetype')