/* http://www.dafont.com/comfortaa.font */
@font-face
  font-family: 'comfortaa'
  src: asset-url('comfortaa.ttf') format('truetype')

/* http://www.dafont.com/night-still-comes.font */
@font-face
  font-family: 'night'
  src: asset-url('night.otf')

/* http://www.dafont.com/riot.font */
@font-face
  font-family: 'riot'
  src: asset-url('riot.ttf') format('truetype')