.headline-font
  font-family: $headline-font
  font-weight: normal

.body-font
  font-family: $body-font

.logo-font
  font-family: $logo-font

.fs-small
  font-size: 1.5vw

.fs-normal
  font-size: 2vw

.fs-big
  font-size: 2.5vw

.fs-large
  font-size: 3vw

.fs-huge
  font-size: 3.5vw

.link
  text-decoration: underline
  color: $main-link-color
  cursor: pointer