.p
  padding: $rhythm

.p-big
  padding: $double-rhythm

.p-large
  padding: $triple-rhythm

.p-huge
  padding: $quadrupole-rhythm

.p-e
  padding-top: $rhythm
  padding-bottom: $rhythm

.p-e-big
  padding-top: $double-rhythm
  padding-bottom: $double-rhythm

.p-e-large
  padding-top: $triple-rhythm
  padding-bottom: $triple-rhythm

.p-e-huge
  padding-top: $quadrupole-rhythm
  padding-bottom: $quadrupole-rhythm

.p-s
  padding-left: $rhythm
  padding-right: $rhythm

.p-s-big
  padding-left: $double-rhythm
  padding-right: $double-rhythm

.p-s-large
  padding-left: $triple-rhythm
  padding-right: $triple-rhythm

.p-s-huge
  padding-left: $quadrupole-rhythm
  padding-right: $quadrupole-rhythm