.media
  margin: 10px
  overflow: hidden
  _overflow: visible
  zoom: 1

.media__img
  float: left
  margin-right: 10px
  img
    display: block
  
.media__img--right
  float: right
  margin-left: 10px
  margin-right: 0

.media__bd
  overflow: hidden
  _overflow: visible
  zoom: 1
