<!DOCTYPE html>
<html lang='en'>
  <head>
    <%= stylesheet_link_tag :application, :media => :all %>
    <%= javascript_include_tag :application %>
    <%= favicon_link_tag 'favicon.ico' %>
    <title>revolution.cheap</title>
  </head>
  <body>
  </body>
</html>