html, body, .ember-view
  height: 100%

body
  background-color: $main-background-color
  color: $main-color
  font-family: $body-font
  font-size: $double-rhythm

@media (max-width: $response-point)
  body
    font-size: $quadrupole-rhythm

h1, h2, h3, h4, h5, h6
  font-family: $headline-font
  font-weight: normal

a:link
  color: $main-link-color

a:focus
  @include opacity(50)
  outline: none

a:visited
  color: $main-link-color-visited

a:hover, .link:hover
  @include opacity(50)

code
  font-size: 1.2vw

@media (max-width: $response-point)
  body
    font-size: 2.7vw

*
  -moz-box-sizing: border-box
  -webkit-box-sizing: border-box
  box-sizing: border-box
  background-repeat: no-repeat
  position: relative