html, body, .ember-view
  height: 100%

body
  background-color: $main-background-color
  color: $main-color
  font-family: $main-font
  font-size: 2vw

@mixin opacity($value)
  -moz-opacity: $value/100!important
  -khtml-opacity: $value/100!important
  opacity: $value/100!important
  filter: alpha(opacity = $value)!important

*
  -moz-box-sizing: border-box
  -webkit-box-sizing: border-box
  box-sizing: border-box
  background-repeat: no-repeat
  position: relative